.moveCardOdd {
	animation-name: mymove1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.2s;
	transition: all 0.2s ease-out;
}

@keyframes mymove1 {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(5px);
	}
}
/* 2 */
.moveCardEven {
	animation-name: mymove2;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.2s;
}

@keyframes mymove2 {
	from {
		transform: translateX(3px);
	}
	to {
		transform: translateX(0px);
	}
}
